html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	min-width:1024px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a { 
	color:#41a0bc; 	
	text-decoration:none; 
}
a:hover { 
	color:#1f6992; 

}

.w960ma {
	width:960px;
	margin:0 auto;	
	padding-bottom:40px;
}

.center { 
	text-align:center;
}

h2 {
	/**
	font-size:21px;
	text-align:center;	
	color:#595959;
	font-weight:normal;	
	**/
	font-family: 'foundry Book';
	letter-spacing: -1px;
	color: #868686;
	font-size: 48px;
	font-weight: normal;
	text-align: center;
	color: #cb1141;
	margin: 20px 0 10px 0;	
}

h3 { 
	font-family: 'foundry Book';
	font-weight: normal; 
	font-size: 21px;
}

input {
	color:#3b3b3b;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/** Generic Classes **/

body { 
	background-color: #f9f9f9; 
}

.container, footer { 
	font-family:'foundry Book'; 
	color:#595959;
}

header { 
	height:175px; 
	width:100%;  
}

.colorline { background: transparent url('../img/img_colorline.jpg') top left; height:4px; position:relative; z-index:1; width:100%;}

.header-content { 
	width:960px; 
	margin:0 auto; 
	background: transparent url('../img/img_bg.jpg') top right no-repeat; 
	position:relative; 
}

header h1 { 
	width:138px; 
	height:123px; 
	background:transparent url('../img/img_logo.png') center center no-repeat; 
	padding:10px; margin:0; 
	float:left;
	z-index:10; 
	position:relative; 

}

header h2 { 
	float:left; 
	color:#646363; 
	margin:95px 0 0 23px; 
	font-family: 'foundry Light'; 
	font-weight:normal; 
	font-size:24px;
}

h2.response {
	font-size:34px;	
	color:#868686;
}

h2.response span {
	color:#000;	
	text-decoration:underline;
}
	
.content-container { 
	padding-bottom:20px; 
}

.giant-button {
	width:300px;
	height:360px;
	background-color:#fff;
	border:1px solid #c7c7c7;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	font-family:'foundry Book';
	font-size:28px;
	text-align:center;
}

.giant-button img {
	display:block;	
	margin:0 auto;
}

.giant-button p {
	color:#1479b0;
	margin:0;
}

.giant-button p span {
	display:block;
	text-transform:uppercase;
	font-size:39px;
}

.mr-b {
	margin-right:20px; 	
}

.mr-sb {
	margin-right:10px;	
}

.error {
	color:#e50025;	
}

.disabled {
	background-color:#f6f6f6;
}

input[type*='text']:focus {
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.asterix {
	position:relative;
	left:3px;
	top:-15px;
	color:#e50025;
	display:none;
}

.jq-replace-ast {
	top:-45px;
}

.errorfeedback {
	color:#e50025;	
	margin-top:0px;
	display:none;
}

.fl { float:left; }
.fr { float:right; }
.mlrpx { margin:0 5px; }

/** How to Play **/

.how2p {
	font-size:21px;	
}

/** Response **/
.response {
	font-size:21px;	
}

/** Rank to Win **/

.rank .intro, .confirmation .intro { 
	font-size:18px; 
	line-height:30px; 
	color:#595959; 
	font-family:'foundry Book'; 
}

.rank .intro b, .confirmation .intro b { 
	color:#e50025; 
}

#step1 {
	margin:50px auto; 
	width:800px; 
	position:relative; 
}
	
#step1 h3 { 
	float:left; 
	margin:0 15px 0 0; 
	line-height:63px; 
	font-weight:bold;
	color:#000;
}

#step1 .step1 { 
	float:left; 
}

#step1 label { 
	padding:0 5px; 
	color:#fff; 
	background-color:#cb1141; 
	line-height:63px; 
	height:63px; 
	display:block;
	text-align:center;
	width:230px; 
	float:left; 
	position:relative;
	z-index:99;
}

#step1 input { 
	border:3px solid #cb1141; 
	width:295px; 
	height:47px; 
	line-height:47px; 
	font-size:24px; 
	padding:5px; 
	font-weight:bold; 
	text-transform:uppercase; 
	position:relative;
	z-index:100;
	left:-5px;	
}

#step1 #loader {
	width:40px;
	height:37px;
	right:20px;
	top:13px;
	position:absolute;
	z-index:101;
}

.android #step1 #loader {
	right:40px;	
}

.input_feedback {
	position:absolute;
	display:none;
	top:70px;
	right:0px;
}

.answers_container { 
	border-top: 4px solid #f26522; 
	display:none;
}

.answers { 
	width:960px; 
	margin:0 auto; 
	padding:30px 0; 
}

.answers p {
	font-size:21px;	
}

.answers p span { 
	display:block; 
	color:#e40f0f; 
	font-size:14px; 
	font-weight: bold; 
	margin-top:3px;
}

#step2 h3 { 
	font-weight: bold; 
	color:#000;
}

.confirmation {
	padding-bottom:0px;
}

.confirmation_answers {
	display:block;	
	border-top:0px;
}

.confirmation_answers .answers {
	padding-top:10px;	
}

ul#answers { padding-left:0; }
ul#answers li { list-style-type:none; }
ul#answers li p { width:440px; margin-top:0; }
ul#answers li p span { display:block; font-size:10px; }
ul#answers li select { width: 450px; height: 55px; margin: 0 0 0 27px; }
	ul#answers li select#option10 { margin: 0 0 0 10px; }
ul#answers li label { line-height:55px; margin: 0; font-size:30px; }
ul#answers li p, ul#answers li select, ul#answers li label { float:left; } 
ul#answers li select option sup { font-family:Arial;}



.answers form { 
	margin-top:30px; 
}

.login {
	position:absolute;
	top:54px;
	right:0px;
	z-index:99;
	font-size:14px;
	text-transform:uppercase;
}

#submit { width:309px; height:114px; margin:40px auto; display:block; }
#submit:active { position: relative; top:1px; }

#back-large { width:309px; height:114px; margin:40px auto; display:block; }
#back-large:active { position: relative; top:1px; }

.headline {
	font-size: 28px;
	color: #646363;	
	font-weight: normal;
	line-height: 1.8em;
	margin: 30px 0;
}

.headline span {
	color:#cb1141;
	font-size:48px;	
	display:block;
}

.home { 
	margin-top:-10px;
}


/** Register Page **/

.register h1 {
	font-weight:normal;	
}

.register form section {
	width:460px; 
	float:left;		
	margin-right:35px; 
}

.register form section input[type*='text'] {
	display:inline-block;
	height:45px;
	line-height:45px;
	background-color:#e2e8e9;
	padding:5px 20px;
	border:0;	
	margin-bottom:15px;
	width:405px;
	font-size:16px;
}

.register form section input[type*='checkbox'] {
	position:relative;
	margin:20px 0 0 95px; 	
}

.register #practice {
	margin:0;	
}

.register .sbHolder {
	width:445px;
	margin:0 0 10px 0;	
	display:inline-block;
}

.register .sbOptions {
	width:445px;	
}

.register .sbSelector {	
	width:440px;
	padding-left:10px;
}

.register .sbSelector:link, .register .sbSelector:visited, .register .sbSelector:hover {
	color:#000;
	font-weight:normal;
	font-size:16px;
}

/** Refer Page **/

.refer {
	
}

.refer .addfield {
	position:relative;
	left:5px;	
}

.refer form section input[type*='text'] {
	display:inline-block;
	height:45px;
	line-height:45px;
	background-color:#e2e8e9;
	padding:5px 20px;
	border:0;	
	margin-bottom:15px;
	width:245px;
	font-size:16px;
}

.refer form section {
	width:300px; 
	float:left;		
	margin-right:25px; 		
}

.refer form section#firstname {
	margin-left:5px;	
}

.refer form #email {
	margin:0;		
}

/** Login **/

.login-form {
	margin:0px auto 80px;	
}

.login-form .form {
	width:530px;
	padding-bottom:20px;
}

.login-form h2 {
	font-size:28px; 
	text-align:left;
	margin-bottom:20px; 
}

.login-form .form input[type*='text'] {
	display:inline-block;
	height:45px;
	line-height:45px;
	background-color:#e2e8e9;
	padding:5px 20px;
	border:0;	
	margin-bottom:15px;
	width:410px;
	font-size:16px;
}

.btn_login {
	width:300px;
}

/** Login Page **/

.logged-in {
	
}

.logged-in {
	text-align:center;	
}

.logged-in #keycount {
	color#093;	
	font-weight:'foundry Medium'
}

.logged-in ul {
	margin:30px auto 0;
	padding:0;
	display:table;
}

.logged-in ul li {
	list-style-type:none;
	width:300px;
	float:left;
	margin-right:25px;
}

.logged-in ul li:last-child {
	margin-right:0px;	
}

.logged-in ul li a {
	display:block;	
	text-decoration:none;
	padding-top:30px;
	height:330px;
}

/** Dashboard **/

#keycount {	font-family:'foundry Medium'; color:#0C3; }


/** Training Module **/

.module {
	padding-bottom:100px;	
}

.module #slide, .module .progress {
	background-color:#fff;	
	width:900px;
}

.module #slide {
	width:940px;
	height:640px;
	margin:20px auto 0;
	padding:0px;
}

.module .progress {
	display:none;
	margin:4px auto;	
	height:53px;
	padding:10px 20px;
	line-height:53px;
	font-size:21px;
}

.module .progress p {
	display:inline-block;
	margin:0 20px 0 0;
	float:left;
}

.module .progress .buttons {
	float:right;
}

.module p .timer {
	display:inline-block;	
}

.module .progress p #progress {
	font-family:"foundry Bold";	
}

.module .back, .module .next {
	position:relative;
	border:0;
	text-indent: -9000px; 
	text-transform: capitalize;
}

.module .back.disabled {
	background-position:-102px 0px;
	cursor:default;	
}

.module .next.disabled {
	background-position:-101px 0px;		
	cursor:default;	
}

.module .back.disabled:active, .module .next.disabled:active {
	top:0px;	
}
	
.module .back:active, .module .next:active {
	top:1px;
}

.module .back {
	background: transparent url('../img/btn_back_sprite.png') no-repeat top left;	
	width:102px;
	height:52px;
}

.module .next {
	background: transparent url('../img/btn_next_sprite.png') no-repeat top left;	
	width:101px;
	height:52px;	
}

.slide-content p, .slide-content ol li {
	font-size:24px;	

}

.slide-content {
	height:560px;
	padding:40px;	
}

.slide-content .quiz_submit {
	position:relative;
	top:10px;
	left:37px;	
}

.slide-content .quiz_submit:active {
	top:31px;	
}

.slide-content .remarks {
	width:750px;
	font-size:14px;	
	position:relative;
	left:40px;
	top:20px;
	color:#e50025;	
}

#slide0 {
	background: #fff url('../img/bg_slide0.png') no-repeat top center;	
}

#slide0 h2 {
	text-align:left;
}

.slide-background1 {
	background: #fff url('../img/bg_slide1.png') no-repeat top center;
}

.slide-background2 {
	background: #fff url('../img/bg_slide2.png') no-repeat top center;
}

.slide-background3 {
	background: #fff url('../img/bg_slide3.png') no-repeat top center;
}

.slide-background4 {
	background: #fff url('../img/bg_slide4.png') no-repeat top center;
}

.slide-content .questions {
	margin:20px 0 20px 40px;
}

.slide-content .questions p {
	margin:3px 0 0 0;
}
.slide-content .questions label {
	font-size:18px;
	
}

.slide-content .true_false_buttons {
margin: 30px 0;	
}

#quiz_response {
	margin:10px 0 0 32px;
}

/** TNC **/

.tnc {
	
}

.tnc ol li {
margin-bottom:15px;	
}

.tnc ol li ol {
	list-style-type:lower-alpha;	
}

#question_response {
	margin-left:40px;
	margin-top:10px;
}

.tnc b {
	font-family:"foundry Medium";	
}

/** Footer **/

footer { 
	width:100%;
	height:70px; 
	background-color:#f9f9f9; 
	border-top:3px solid #f26522;
	padding-top:20px; 
}

footer p {
	display:inline-block;	
}

footer .content a { 
	text-decoration:none; 
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}