@font-face {
    font-family: 'foundrysanslight';
    src: url('fonts/foundrysans-light-webfont.eot');
    src: url('fonts/foundrysans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foundrysans-light-webfont.woff') format('woff'),
         url('fonts/foundrysans-light-webfont.ttf') format('truetype'),
         url('fonts/foundrysans-light-webfont.svg#foundrysanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'foundrysansmedium';
    src: url('fonts/foundrysans-medium-webfont.eot');
    src: url('fonts/foundrysans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foundrysans-medium-webfont.woff') format('woff'),
         url('fonts/foundrysans-medium-webfont.ttf') format('truetype'),
         url('fonts/foundrysans-medium-webfont.svg#foundrysansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'foundrysansnormal';
    src: url('fonts/foundrysans-normal-webfont.eot');
    src: url('fonts/foundrysans-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/foundrysans-normal-webfont.woff') format('woff'),
         url('fonts/foundrysans-normal-webfont.ttf') format('truetype'),
         url('fonts/foundrysans-normal-webfont.svg#foundrysansnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'foundry Bold';src:url(fonts/fostbold-webfont.eot);src:url(fonts/fostbold-webfont.eot?#iefix) format('embedded-opentype'),url(fonts/fostbold-webfont.woff) format('woff'),url(fonts/fostbold-webfont.ttf) format('truetype');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'foundry Book';src:url(fonts/fostbook-webfont.eot);src:url(fonts/fostbook-webfont.eot?#iefix) format('embedded-opentype'),url(fonts/fostbook-webfont.woff) format('woff'),url(fonts/fostbook-webfont.ttf) format('truetype');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'foundry Demi';src:url(fonts/fostdemi-webfont.eot);src:url(fonts/fostdemi-webfont.eot?#iefix) format('embedded-opentype'),url() formafonts/fostdemi-webfont.wofft('woff'),url(fonts/fostdemi-webfont.ttf) format('truetype');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'foundry Extra Bold';src:url(fonts/fostexbd-webfont.eot);src:url(fonts/fostexbd-webfont.eot?#iefix) format('embedded-opentype'),url(fonts/fostexbd-webfont.woff) format('woff'),url(fonts/fostexbd-webfont.ttf) format('truetype');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'foundry Light';src:url(fonts/fostlght-webfont.eot);src:url(fonts/fostlght-webfont.eot?#iefix) format('embedded-opentype'),url(fonts/fostlght-webfont.woff) format('woff'),url(fonts/fostlght-webfont.ttf) format('truetype');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'foundry Medium';src:url(fonts/fostmedm-webfont.eot);src:url(fonts/fostmedm-webfont.eot?#iefix) format('embedded-opentype'),url(fonts/fostmedm-webfont.woff) format('woff'),url(fonts/fostmedm-webfont.ttf) format('truetype');font-weight:normal;font-style:normal;
}