<style type="text/css"> 
.container ,p{ font-family:arial; font-size:12px; color:rgb(99,100,102);}
.banner { width: 798px; height: 280px;} 
.logo { width: 116px; height: 100px; text-alignment:left;} 
</style>
<div class="container">
<div class="banner">
	<img src="http://chilp.it/a32859">
</div>
<br /><br />
<b>Hello,</b>

<p>CooperVision has a fun new way for you to boost your knowledge AND earn chances to win a trip to the 
September International Vision Expo West in Las Vegas!</p>

<p>Introducing <b>VISIONS OF VEGAS</b>. Now when you focus on CooperVision’s new silicone hydrogel daily 
disposable, MyDay<sup>TM</sup>, you could set your sights on a learning experience like no other ... in Las Vegas!</p>

<p>Here’s how it works. From April 7 through July 6, you will earn one ticket to access your chance to win a 
unique educational experience in Las Vegas for each of these simple online tasks:</p>
<ul>
	<li>Register</li>
	<li>Complete a learning module and</li>
	<li>Refer a colleague</li>
</ul>

<p>Each ticket that you earn enables you to access and play an online ranking game. Rank the Top 10 
MyDay attributes in order of importance for achieving the best patient experience from 1 to 10, with 1 being 
the most important. At the end of the campaign, we’ll reveal the promoter’s ranking, and if you match 
it, you will win a trip to attend the International Vision Expo West in Las Vegas. It’s that easy! </p>

<p>To get things rolling, visit <a hre="http://coopervisiontraining.com.au" target="_blank">www.CooperVisionTraining.com.au</a>. You'll automatically earn one ticket to play the "Rank to Win" game just for registering online.</p>

<p>Good luck!</p>

<p>CooperVision</p>
                <br>
                <br>

<div style="text-align:left;">
<div class="logo">
	<img src="http://chilp.it/bd8f0c" width=116 height=100>
</div>
<p style="color:rgb(45,154,67);"><span style="color:rgb(245,128,37);">NEW daily disposable silicone hydrogel</span><br>
MyDay™ daily disposable with Smart Silicone™.<br>
Delivers on everything. Compromises on nothing.<br>
<a hre="http://coopervision.net.au/practitioner/contact-lens/myday" target="_blank">Click here</a> for more information</p>
</div>                

</div>

<p>See <a hre="http://coopervisiontraining.com.au/index.php/tnc" target="_blank">www.CooperVisionTraining.com.au</a> for full Terms & Conditions.</p>            
                <br>
                <br>